data
typesense-data
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.csv
*.bin
*.safetensor
*.safetensors
*.json*
*.csv
wandb
*.run
/**/__pycache__/
flagged
out/
model_cache/
data_cache/
*.db
*.wav
dummy.*
dataset/*
datasets/*
temp_*
*.csv
huggingface
*gptq/*
data/
*.jpg
.env
typesense-data/
*.json*
wandb
!simplepeft/data/
*.run
*.model
*.bin
*.safetensors