*.mp3
*.tsv
/**/__pycache__/
flagged
*.zip
wtg-*/
*.tar
*.gz

/*.txt
!unigrams.txt
*.arpa
*.binary
*gram
*dataset.csv
train*.csv
*.onnx
*.weight
*.bias
onnx_*
!silero_vad.onnx
*.json
*.spm
merges.txt
*.model
out/
*.mp*
*.webm
*.html
model_cache/
*.db