*wav2vec2-*/
*wav2vec2-*.*
*wavlm-*/
*wavlm-*.*
*hubert-*/
*hubert-*.*
*m-ctc-*/
*vectorized_*/
runs
data/
encdec/
*logs/
*model/

*.mp3
*.tsv

/**/results/

/**/__pycache__/
wandb
mlruns
cache*/
*output/
kenlm
*kenlm

flagged
*.zip
wtg-*/
*.tar
*.gz

/*.txt
!unigrams.txt
*.arpa
*.binary
*gram
*dataset.csv
train*.csv
*.onnx
*.weight
*.bias
onnx_*
!silero_vad.onnx
*.json
*.spm
merges.txt
*.model
out/
*.mp*
*.webm
*.html
model_cache/