gradio==3.14.0
optimum>=1.7.3
onnx
onnxruntime>=1.12.1
sacremoses
sentencepiece
torch>=1.13.0
torchaudio
transformers>=4.27.3
peft>=0.2.0
sqlmodel
pymysql
soundfile
accelerate
bitsandbytes
unidecode
demucs>=4.0.0
librosa 
pydub
peft
text2num
fsspec
datasets
tqdm
diff-match-patch
jiwer
pyloudnorm