gradio==3.30.0
optimum>=1.7.3
onnx
onnxruntime>=1.12.1
sacremoses
sentencepiece
torch>=2.0.0
torchaudio
soundfile
librosa 
pydub
text2num
pyloudnorm
tokenizers>=0.13.3
transformers>=4.30.1
https://github.com/huggingface/peft/archive/refs/heads/main.zip
accelerate>=0.20.3
qdrant-client
playwright
text-generation
https://github.com/huggingface/diffusers/archive/refs/heads/main.zip
invisible-watermark>=0.2.0
xformers
omegaconf
gpustat