gradio==3.14.0
optimum>=1.5.0
onnx
onnxruntime>=1.12.1
sacremoses
sentencepiece
torch>=1.13.0
torchaudio
https://github.com/huggingface/transformers/archive/refs/heads/main.zip
https://github.com/huggingface/peft/archive/refs/heads/main.zip
sqlmodel
pymysql
soundfile
accelerate
unidecode
demucs>=4.0.0
librosa 
pillow
pydub
peft
text2num
fsspec